<div class="h1-custom text-center"><%= @evaluation.course.title %> Evaluation</div> 

<br>
<br>

<div class="large-container">
  <p><strong>Question Count: </strong><%= @questions.count %></p>
  <div class="box">
    <div id="questions" class="cursor-move" data-url="<%= sort_evaluation_questions_path(@evaluation) %>">
      <% @questions.each do |question| %>
        <div class="question-box", id="<%= dom_id(question) %>">
          <div class="h3-custom"><%= link_to question.text, edit_evaluation_question_path(@evaluation, question), class: "bold-text dark-blue-text" %></div>
          <% letter = '@' %>
          <% question.answers.each do |answer| %>
            <div>
              <% letter = letter.next %>
              <span><%= letter %>.</span>
              <span class="<%= 'highlight' if answer.correct_answer %>"><%= answer.text %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <%= link_to 'Add a New Question', new_evaluation_question_path(@evaluation,), class: "btn btn-light-gray btn-block" %>
  </div>
</div>

<br>
<br>