
<% @title = "Blog | Addiction Team USA" %>

<div class="container-fluid wide-margin">
   
  <br>
  
  <div class="col-sm-9">
    <br>
    <br>

    <div class="focus" tabindex="1">
      <div class="articles-box">
        <div class="h2-custom">Blog Posts</div>
        <hr>

      <% @blogs.each do |blog| %>
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag blog.image.url, class: "profile-image" %>
          </div>

          <div class="col-sm-9">
            <div class="h2-custom bottom-margin-8">
              <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{blog.title}".html_safe, blog, class: "bold-text dark-blue-text" %>
            </div>
            <div class="preview-text"><%= sanitize blog.body.truncate(240, separator: ' ') %></div>
            <div><strong>From: </strong><span><%= blog.author %></span></div>
            <div><strong>Category: </strong><span><%= blog.category %></span></div>
          </div>
        </div>
        <hr class="light-smoke medium-margins">
      <% end %>

        <div class="text-center">
          <nav class="pagination" id="web-blog-scroll">
            <%= will_paginate @blogs, :param_name => 'blogs', renderer: BootstrapPagination::Rails %>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>  
    </div> 
  </div>
</div>

<br>
