<% @title = "My Account | Addiction Team USA" %>

<div class="small-container">
  <br>
  <div class="h15-custom text-center">My Account</div>
</div>

<hr>

<div class="medium-container">

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Blog Posts</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.blogs.order('created_at DESC').each do |blog|%>
            <tr>
              <td width="85%"><%= link_to blog.title, blog, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_blog_path(blog) %></td>
              <td width="10%" class="text-center"><% if blog.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Write New Blog Post', new_blog_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>  

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Articles</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.articles.order('created_at DESC').each do |article|%>
            <tr>
              <td width="85%"><%= link_to article.title, article, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_article_path(article) %></td>
              <td width="10%" class="text-center"><% if article.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Write New Article', new_article_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Authored Classes</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.courses.each do |course|%>
            <tr>
              <td width="85%"><%= link_to course.title, course, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_course_path(course) %></td>
              <td width="10%" class="text-center"><% if course.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Create New Course', new_course_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>

  <% if current_user.admin? %>
    <div class="box">
      <div class="h2-custom text-center">Admin Only</div>
      <hr>
      <%= link_to "Sign In as Another User", masquerade_path, class: "btn btn-blue btn-block" %>
      <hr>
      <br>
      <h3 class="text-center">Directory Listings</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.med_profs.each do |med_prof|%>
            <tr>
              <td width="85%"><%= link_to med_prof.title, med_prof, class: "bold-text dark-blue-text" %></td>
              <td width="15%"><%= link_to "Edit", edit_med_prof_path(med_prof) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Create New Listing', new_med_prof_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr>
  <% end %>

  <div class="box">
    <h3 class="text-center bold-text">Directory Listing</h3>
    <% if current_user.subscribed? && !current_user.cancelled? %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>My Listing</th>   
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.med_profs.each do |med_prof|%>
            <tr>
              <td width="85%"><%= link_to med_prof.title, med_prof, class: "bold-text dark-blue-text" %></td>
              <td width="15%"><%= link_to "Edit", edit_med_prof_path(med_prof) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <p>Your listing is active. The current billing period ends <%= current_user.subscription_end.strftime("%m/%d/%Y") %>. The listing will automatically renew at the end of the billing period and your <b><%= current_user.card_brand%></b> card ending in <b><%= current_user.card_last4 %></b> will be charged $10.</p>

      <br>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-light-gray btn-sm" data-toggle="modal" data-target="#new_subscriber">Update Card on File</button>

      <span class="pull-right"><%= link_to "Deactivate My Listing", subscription_path, data: { confirm: "Are you sure? This will stop any future charges, but after #{current_user.subscription_end.strftime('%m/%d/%Y')} your listing will no longer be shown in our directory." }, method: :delete %></span>

    <% elsif current_user.subscribed? && current_user.cancelled?%>
      
      <br>

      <p class="text-center red-text bold-text">You have chosen to deactivate your listing. Your listing will remain active until <%= current_user.subscription_end.strftime("%m/%d/%Y") %> which is the end of your last billing period.</p>

      <br>

      <div class="center">
        <%= link_to "Reactivate My Listing", new_subscription_path, class: "btn btn-blue" %>
      </div>      

      <table class="table table-hover">
        <thead>
          <tr>
            <th>My Listing</th>   
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.med_profs.each do |med_prof|%>
            <tr>
              <td width="85%"><%= link_to med_prof.title, med_prof, class: "bold-text dark-blue-text" %></td>
              <td width="15%"><%= link_to "Edit", edit_med_prof_path(med_prof) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    <% else %>
      <br>

      <% if current_user.med_profs.count > 0 %>
        <p class="text-center red-text bold-text">Your Listing is not Currently Active</p>

        <br>

        <div class="center">
        <%= link_to "Activate My Listing", new_subscription_path, class: "btn btn-blue" %>
        </div>

        <br>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>My Listing</th>   
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @current_user.med_profs.each do |med_prof|%>
              <tr>
                <td width="85%"><%= link_to med_prof.title, med_prof, class: "bold-text dark-blue-text" %></td>
                <td width="15%"><%= link_to "Edit", edit_med_prof_path(med_prof) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% else %>
        <p class="text-center">You Have Not Yet Created Your Listing</p>
        <br>
        <%= link_to 'Create Your Listing', new_med_prof_path, class: "btn btn-light-gray btn-block" %>
      <% end %>   

    <% end %>
  </div>
  
  <hr>

  <div class="box">
    <h3 class="text-center bold-text">Prior Charges</h3>

      <% if current_user.charges.exists? %>
        <div class="media">
          <div class="media-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Card</th>
                </tr>
              </thead>

              <tbody>
                <% current_user.charges. each do |charge| %>
                  <tr>
                    <td><%= charge.charge_date.strftime("%m/%d/%Y") %></td>
                    <td><%= number_to_currency(charge.amount * 0.01) %></td>
                    <% if charge.card_brand != "American Express" %>
                      <td><%= charge.card_brand %> **** **** **** <%= charge.card_last4%></td>
                    <% else %>
                      <td><%= charge.card_brand %> **** ****** *<%= charge.card_last4%></td>
                    <% end %>  
                  </tr>
                <% end%>
              </tbody>
            </table>
          </div>
        </div>
      <% else %>
        <p>You do not have any charges.</p>
      <% end %>
  </div>

  <hr>

  <div class="box">
    <h3 class="text-center bold-text">Purchased Classes</h3>
    <% if @current_user.purchased_courses.exists? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th class="text-center">Passed?</th>
            <th class="text-center">CE Hours Earned</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.purchased_courses.each do |pc|%>
            <tr>
              <td width="75%"><%= link_to pc.matching_course.title, pc.matching_course, class: "bold-text dark-blue-text" %></td>
              <td class="text-center" width="5%">
                <% if pc.matching_course.passed?(@current_user) %>
                  Yes
                <% else %>
                  No
                <% end %>      
               </td>
              <td class="text-center" width="15%">
                <% if pc.matching_course.passed?(@current_user) %>
                  <%= pc.matching_course.ce_hours %>
                <% end %>  
              </td>
              <% if pc.matching_course.passed?(@current_user) %>
                <td class="text-center red-text" width="5%"><i class="fa fa-file-pdf-o"></i></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <br>
      <p class="text-center">Coming Soon!</p>
    <% end %>
  </div>

  <hr>

</div>

<div class="small-container"> 

  <br>
  
  <h3>Update Personal Info</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, maxlength: 60, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :display_name, 'Display Name' %> <em>Your posts & comments will be displayed under this name</em><br />
          <%= f.text_field :display_name, maxlength: 20, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if current_user.author? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :bio %><br />
            <%= f.text_area :bio, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :image %><br>
            <%= f.file_field :image %><br>
            <% if f.object.image? %>
              <%= image_tag f.object.image.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %> 
            <% end %>
          </div>
        </div>
      </div>
    <% end %>  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.button "Update Personal Info", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>
  
  <% end %>

  <hr>
  <h3>Change Password</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password %> <i>(<%= @minimum_password_length %> characters minimum - must contain at least one lowercase letter, one uppercase letter, and one number)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.button "Change Password", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>

  <% end %>
    
  <hr>

</div>

<br>
<br>
<br>


<!-- Modal -->
<div class="modal fade" id="new_subscriber" tabindex="-1" role="dialog" aria-labelledby="my_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h25-custom">Update Card on File
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="modal-body">
        <div>
          <p class="large-font bold-text">Your current card on file is:</p>

          <% if current_user.card_brand != "American Express" %>
            <div><b><%= current_user.card_brand%></b> **** **** **** <%= current_user.card_last4 %></div>
          <% else %>
            <div><b><%= current_user.card_brand%></b> **** ****** *<%= current_user.card_last4%></div>
          <% end %>  
          <div><b>Expires: </b><%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>

          <hr>

          <p class="large-font bold-text">Please enter new card information below</p>

          <%= form_tag card_path, method: :put, id: "payment-form" do %>
            <span class="payment-errors red"></span>
            
            <div class="center"><img src="https://www.merchantequip.com/image/?logos=v|m|a|d&height=64" alt="Credit Card Logos" /></div>
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <label>
                    <span>Card Number</span>
                  </label>
                  <input class="form-control" placeholder="1234 5678 9012 3456" type="text" size="20" data-stripe="number">
                </div>
              </div>  
            </div>
              
            <div class="row">
              <div class="col-lg-3">
                <div class="field">
                  <label>
                    <span>Expiration</span>
                  </label>
                  <input class="form-control" placeholder="MM" type="text" size="10" data-stripe="exp_month">        
                </div>
              </div>

              <div class="col-lg-3">
                <div class="field">
                  <label>&nbsp</label>
                  <input class="form-control" placeholder="YYYY" type="text" size="10" data-stripe="exp_year">
                </div>  
              </div>

              <div class="col-lg-3"></div>

              <div class="col-lg-3">
                <div class="field">
                  <label>
                    <span>CVC</span>
                  </label>  
                  <input class="form-control" placeholder="123" type="text" size="4" data-stripe="cvc">
                </div>
              </div>
            </div> 
            <div class="actions">
              <%= button_tag "Update Card", class: "submit btn btn-blue btn-block" %>
            </div>
          <% end %> 
          <br>  
        </div>
      </div>

    </div>
  </div>
</div>

