<% @title = "My Account" %>

<div class="small-container">
  <br>
  <div class="h15-custom text-center">My Account</div>
</div>

<hr>

<div class="medium-container">

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Blog Posts</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.blogs.order('created_at DESC').each do |blog|%>
            <tr>
              <td width="85%"><%= link_to blog.title, blog, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_blog_path(blog) %></td>
              <td width="10%" class="text-center"><% if blog.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Write New Blog Post', new_blog_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>  

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Articles</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.articles.order('created_at DESC').each do |article|%>
            <tr>
              <td width="85%"><%= link_to article.title, article, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_article_path(article) %></td>
              <td width="10%" class="text-center"><% if article.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Write New Article', new_article_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>

  <% if current_user.author? %>
    <div class="box">
      <h3 class="text-center bold-text">My Authored Classes</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th></th>
            <th class="text-center">Published?</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.courses.each do |course|%>
            <tr>
              <td width="85%"><%= link_to course.title, course, class: "bold-text dark-blue-text" %></td>
              <td width="5%"><%= link_to "Edit", edit_course_path(course) %></td>
              <td width="10%" class="text-center"><% if course.published %><span class="green-text">Yes</span><% else %><span class="red-text">No</span><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Create New Course', new_course_path, class: "btn btn-light-gray btn-block" %>
    </div>
    <hr> 
  <% end %>

  <div class="box">
    <h3 class="text-center">Purchased Classes</h3>
    <% if @current_user.purchased_courses.exists? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>   
            <th class="text-center">Passed?</th>
            <th class="text-center">CE Hours Earned</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.purchased_courses.each do |pc|%>
            <tr>
              <td width="75%"><%= link_to pc.matching_course.title, pc.matching_course, class: "bold-text dark-blue-text" %></td>
              <td class="text-center" width="5%">
                <% if pc.matching_course.passed?(@current_user) %>
                  Yes
                <% else %>
                  No
                <% end %>      
               </td>
              <td class="text-center" width="15%">
                <% if pc.matching_course.passed?(@current_user) %>
                  <%= pc.matching_course.ce_hours %>
                <% end %>  
              </td>
              <% if pc.matching_course.passed?(@current_user) %>
                <td class="text-center red-text" width="5%"><i class="fa fa-file-pdf-o"></i></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <br>
      <p class="text-center">You Have Not Purchased Any Classes Yet</p>
    <% end %>
  </div>
</div>

<div class="small-container"> 
  <hr>

  <% if current_user.admin? %>
    <%= link_to "Sign In as Another User", masquerade_path, class: "btn btn-blue btn-block" %>
    <br>
    <br>
  <% end %>

  <h3>Update Personal Info</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, maxlength: 60, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :display_name, 'Display Name' %> <em>Your posts & comments will be displayed under this name</em><br />
          <%= f.text_field :display_name, maxlength: 20, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if current_user.author? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :bio %><br />
            <%= f.text_area :bio, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :image %><br>
            <%= f.file_field :image %><br>
            <% if f.object.image? %>
              <%= image_tag f.object.image.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %> 
            <% end %>
          </div>
        </div>
      </div>
    <% end %>  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.button "Update Personal Info", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>
  
  <% end %>

  <hr>
  <h3>Change Password</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password %> <i>(<%= @minimum_password_length %> characters minimum - must contain at least one lowercase letter, one uppercase letter, and one number)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.button "Change Password", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>

  <% end %>
    
  <hr>  
  <h3>Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-red btn-block"  %>
</div>

<br>
<br>
<br>
