
<div class="small-container">

  <div class="h1-custom text-center">My Account</div>
  
  <hr>

  <div class="box">
    <h3 class="text-center">My Purchased Courses</h3>
    <table class="table table-hover">
      <tbody>
        <% @current_user.purchased_courses.each do |pc|%>
          <tr>
            <td><%= link_to pc.matching_course.title, pc.matching_course, class: "bold-text dark-blue-text" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>
  
  <% if current_user.author? %>

    <div class="box">
      <h3 class="text-center">My Authored Courses</h3>
      <table class="table table-hover">
        <tbody>
          <% @current_user.courses.each do |course|%>
            <tr>
              <td width="88%"><%= link_to course.title, course, class: "bold-text dark-blue-text" %></td>
              <td width="12%"><%= link_to "Edit", edit_course_path(course) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Create New Course', new_course_path, class: "btn btn-light-gray btn-block" %>
    </div>

    <hr>

    <h3>Update Personal Info</h3>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if current_user.author? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :bio %><br />
            <%= f.text_area :bio, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :image %><br>
            <%= f.file_field :image %><br>
            <% if f.object.image? %>
              <%= image_tag f.object.image.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %> 
            <% end %>
          </div>
        </div>
      </div>
    <% end %>  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% if current_user.author? %>
      <div class="actions">
        <%= f.button "Update Personal Info", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
      </div>
    <% else %>  
      <div class="actions">
        <%= f.button "Update Email Address", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    <% end %>    
  <% end %>

  <hr>
  <h3>Change Password</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password %> <i>(<%= @minimum_password_length %> characters minimum - must contain at least one lowercase letter, one uppercase letter, and one number)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.button "Change Password", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>

  <% end %>
    
  <hr>  
  <h3>Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-red btn-block"  %>
</div>

<br>
<br>
<br>
