<% @title = "Sign Up" %>

<div class="small-container">
  <h1 class="text-center">Welcome</h1>

  <hr class="light-blue">

  <p>Please complete the form below to create your account.</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= invisible_captcha %>
    <%= devise_error_messages! %>

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, maxlength: 60, class: "form-control" %>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum - must contain at least one lowercase letter, one uppercase letter, and one number)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
      </div> 

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :display_name, 'Display Name' %> <em>Your posts & comments will be displayed under this name</em><br />
          <%= f.text_field :display_name, maxlength: 20, class: "form-control" %>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="col-xs-12">
        <div class="actions">
          <%= f.button "Register Account", class: "btn btn-gray btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Registering account..."} %>
        </div>
      </div>
    </div>
  <% end %>

  <br>

  <p>or</p>

  <p>Already have an account?</p>

  <%= render "devise/shared/links" %>

  <hr class="light-blue">
</div>