
<% @title = "Articles | Addiction Team USA" %>

<div class="container-fluid wide-margin">
   
  <br>
  
  <div class="col-sm-9">
    <br>
    <br>

    <div class="focus" tabindex="1">
      <div class="articles-box">
        <div class="h2-custom">Articles From Around the Web</div>
        <hr>

        <% @web_articles.each do |article| %>
          <div class="h2-custom bottom-margin-8">
            <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{article.title}".html_safe, article.link, :target => "_blank", class: "bold-text dark-blue-text" %>
          </div>

          <div><strong>From: </strong><span><%= article.author %></span></div>
          <div><strong>Category: </strong><span><%= article.category %></span></div>
          <hr class="light-smoke medium-margins">
        <% end %>
        <div class="text-center">
          <nav class="pagination" id="web-article-scroll">
            <%= will_paginate @web_articles, :param_name => 'web_articles', renderer: BootstrapPagination::Rails %>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>  
    </div> 
  </div>
</div>

<br>

