
<% @title = "Articles" %>

<div class="container-fluid wide-margin">
   
  <br>
  
  <div class="col-sm-9">
    <br>
    <br>
    <div class="forum-box">

      <div class="courses-header">Articles</div>
      <hr class="light-blue no-bottom-margin">

      <% @articles.each do |article| %>
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag article.image.url, class: "profile-image" %>
          </div>

          <div class="col-sm-9">
            <div class="h2-custom bottom-margin-8">
              <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{article.title}".html_safe, article, class: "bold-text dark-blue-text" %>
            </div>
            <div class="preview-text"><%= sanitize article.body.truncate(240, separator: ' ') %></div>
            <div><strong>From: </strong><span><%= article.author %></span></div>
            <div><strong>Category: </strong><span><%= article.category %></span></div>
          </div>
        </div>
        <hr class="light-smoke medium-margins">
      <% end %>
      <div class="text-center">
        <nav class="pagination">
          <%= will_paginate @articles, :param_name => 'articles', renderer: BootstrapPagination::Rails %>
        </nav>
      </div>
    </div>  

    <br>
    <div class="focus" tabindex="1">
      <div class="forum-box">
        <div class="h2-custom">From Around the Web</div>
        <hr class="medium-margins">

        <% @web_articles.each do |article| %>
          <div class="h2-custom bottom-margin-8">
            <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{article.title}".html_safe, article.link, :target => "_blank", class: "bold-text dark-blue-text" %>
          </div>

          <div><strong>From: </strong><span><%= article.author %></span></div>
          <div><strong>Category: </strong><span><%= article.category %></span></div>
          <hr class="light-smoke medium-margins">
        <% end %>
        <div class="text-center">
          <nav class="pagination" id="web-article-scroll">
            <%= will_paginate @web_articles, :param_name => 'web_articles', renderer: BootstrapPagination::Rails %>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>  
    </div> 
  </div>
</div>

<br>

