

<% @title =  @med_prof.title + " | Addiction Team USA" %>

<div class="container-fluid wide-margin">
   
  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Directory'.html_safe, url_for(:back), class: "btn btn-gray btn-sm top-margin-8"%>
  
  <br>
  <br>
  
  <div class="col-xs-7">
    <div class="forum-box">
      <div class="row">
        <div class="col-sm-4">
          <% if @med_prof.image.present? %>
            <%= image_tag @med_prof.image, class: "med-prof-image" %>
          <% else %>
            <%= image_tag ('doc.jpg'), class: "med-prof-image"%>
          <% end %>  
        </div>
        <%= content_tag(:div, nil, id: "med_profs-list", data: { med_profs: @med_profs.to_json(methods: [:address]), l: params[:l] }) do %>
          <div class="col-sm-8">
            <div class="h2-custom name-link"><%= @med_prof.title %></div>          
            <%= link_to "<i class='fa fa-lg fa-phone' aria-hidden='true'></i> #{number_to_phone(@med_prof.phone)}".html_safe, "tel:#{number_to_phone(@med_prof.phone)}", class: "btn btn-blue btn-sm bold-text" %>
            <div class="preview-text bold-text"><%= @med_prof.med_prof_type %></div>
            <div class="preview-text bold-text"><%= @med_prof.street %></div>
            <div class="preview-text bold-text"><%= @med_prof.city %>, <%= @med_prof.state%> <%= @med_prof.zip%></div>
          </div>
        <% end %>
      </div>
      <br>
      <div class="course-description"><%= @med_prof.about %></div>
    </div>
  </div>  

  <div class="col-xs-5">
    <div id="map-div">
      <%= content_tag(:div, nil, id: "map") %>
    </div>    
  </div>

</div>




