<% @title = "The Authors - " + @user.fullname %>

<div class="container-fluid">
  
  <br>
  
  <div class="row">
    <div class="col-sm-3">
      <%= select_tag "authors", options_for_select(User.where(:author => true).order('last_name ASC').map{ |a| [a.fullname, a.id] }), prompt: "Select an author", class: "form-control", id: "author-dropdown" %>
    </div>
    
    <div class="col-sm-3 col-sm-offset-6">
      <%= link_to 'View Classes by all Authors', courses_path, class: "btn btn-gray btn-md pull-right" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <div class="h2-custom"><%= @user.fullname%></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <p><%= simple_format(@user.bio) %></p>
    </div>
    <div class="col-xs-3">
      <%= image_tag @user.image.url, class: "profile-image" %>
    </div>  
  </div>

  <hr>

  <div class="col-xs-12">  
    <div class="box">
      <div class="h3-custom">Classes by <%= @user.fullname %>:</div>
      <hr class="light-blue">
      <% @courses.each do |course| %>
        <div class="row">
          <div class="col-sm-8 col-md-10">
            <div class="h2-custom"><%= link_to course.title, course_path(course), class: "bold-text dark-blue-text" %></div>
          </div>


          <% if @purchased_courses.any? {|a| a.course_id == course.id} %>
            <div class="col-sm-4 col-md-2">
              <strong>You have purchased this class.</strong> 
            </div> 
          <% else %>  
            <%= form_for @order_item, remote: true do |f| %>
              <div class="col-sm-4 col-md-2">
                <div class="input-group">
                  <%= f.hidden_field :course_id, value: course.id %>
                  <%= button_tag type: 'submit', class: "btn btn-blue" do %>
                     Add to Cart <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> 
                  <% end %>
                </div> 
              </div> 
            <% end %>
          <% end %>
        </div> 
        
        <div class="row"> 
          <div class="col-sm-12">
            <p class="course-description padding-right-50"><%= course.description %></p>
          </div>
        </div>
        <div class="row">    
          <div class="col-sm-8">
            <%= link_to "More Info", course_path(course), class: "btn btn-gray btn-sm" %>
            <%= link_to 'Preview Class <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>'.html_safe, course_preview_path(course, :format => 'pdf'), target: "_blank", class: "btn btn-light-gray btn-sm" %>
          </div> 
          <div class="col-sm-2">
            <strong>CE Hours: <%= course.ce_hours%></strong>  
          </div> 
          <div class="col-sm-2">
            <strong>Price: $<%= number_with_precision(course.price, :precision => 2) %></strong>  
          </div> 
        </div>
        <hr class="light-smoke">
      <% end %>
      <div class="text-center">
        <nav class="pagination">
          <%= will_paginate @courses, renderer: BootstrapPagination::Rails %>
        </nav>
      </div>
  </div>
</div>

