<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Site Name", root_path, :class => "navbar-brand divider-vertical-rt" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="divider-vertical-rt divider-vertical-lt <%= is_active?('/courses') %> <%= is_active?('/') %>"><%= link_to 'The Courses', courses_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown divider-vertical-rt">
            <a href="#" data-toggle="dropdown" class="<%= 'blue-nav' if controller_name == 'registrations' %>"><i class="fa fa-user fa-lg" aria-hidden="true"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= is_active?('/users/edit') %> nav-underline"><%= link_to "My Account", edit_user_registration_path %></li>
              <li class=nav-top-padding><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= is_active?('/users/sign_up') %>"><%= link_to "Sign Up", new_user_registration_path, class: "divider-vertical-rt" %></li>
          <li class="<%= is_active?('/users/sign_in') %>"><%= link_to "Sign In", new_user_session_path, class: "divider-vertical-rt" %></li>
        <% end %> 
        <li class="<%= is_active?('/cart') %>">
          <%= link_to "My Cart", cart_path %>
        </li>
        <li class="cart-container">
          <span class="cart-text"><%= render 'layouts/cart_text' %></span>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>