

<% @title = "Helping Solve the Addiction Crisis Through Collaboration and Education"%>

<% unless user_signed_in? %>
  <div class="top-button-container-home">
    
    <span class="brand-text-container small-screen-hide">
      <%= link_to "Addiction Team USA", root_path, class: "brand-text" %>
    </span>

    <div class="left-container small-screen-hide">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-gray btn-sm btn-block" %>
    </div>
    <div class="left-container-sm-screen small-screen-show">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-gray btn-sm btn-block" %>
    </div>
  </div>
<% else %>
  <div class="top-button-container-home">
    <span class="brand-text-container small-screen-hide">
      <%= link_to "Addiction Team USA", root_path, class: "brand-text" %>
    </span>  
    <div class="right-container-message">
      You are signed in as <%= current_user.display_name %>
    </div>
  </div>
<% end %>

<nav class="navbar navbar-default nav-home">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to "Addiction Team USA", root_path, class: "navbar-brand divider-vertical-rt small-screen-show" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li class="divider-vertical-lt"><%= link_to "About", about_path, data: {id: "about"} %></li>
        <li class="divider-vertical-lt"><%= link_to "Addiction Articles", articles_path, data: {id: "articles"} %></li>
        <li class="divider-vertical-lt"><%= link_to "Find an Addiction Doctor or Counselor", med_profs_path, data: {id: "find-a-doctor"} %></li>        
        <li class="divider-vertical-lt divider-vertical-rt"><%= link_to "Contact Us", contact_path, data: {id: "contact-us"} %></li>        

        <% if user_signed_in? %> 
          <li class="dropdown">        
            <a href="#" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="nav-underline"><%= link_to "My Account", edit_user_registration_path %></li>
                <li class=nav-top-padding><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li></li>
            </ul>
          </li>
          <li class="divider-vertical-lt">
            <%= link_to "My Cart", cart_path %>
          </li>
          <li class="cart-container hidden-md hidden-sm hidden-xs">
            <span class="cart-text"><%= render 'layouts/cart_text' %></span>
          </li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= flash_messages %>

<div class="section" id="about">
  <div id="main-image-container">
    <%= image_tag ('header.jpg'), class: "main-image" %>
    <div class="centered">
      <span class="h1-custom-responsive white">Addiction Team USA</span>
      <hr>
      <div class="h25-custom-responsive center white">Helping Solve the Addiction Crisis Through Collaboration and Education</div>
    </div>
  </div>

  <div class = "large-container">
    <div class="h2-custom center higher-line bottom-margin-8 top-margin-8">A place where we can share ideas, raise awareness, provide help, and work together to solve the problem of addiction.   
    </div>
  </div>


  <div class="small-container small-screen-hide">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-blue btn-block" data-toggle="modal" data-target="#new_subscriber">
      Sign Up For Our Free Addiction Email
    </button>
  </div>

  <div class="small-container small-screen-show">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-blue btn-block" data-toggle="modal" data-target="#new_subscriber">
      Sign Up For Updates
    </button>  
  </div>

  <%= render partial: "email_subscribers/new_modal" %>

  <br>
  <br>

</div>

<div class="section" id="articles">

  <div class="container">
    <hr class="end-fade">
  </div>

  <br>
  <br>

  <div class="medium-container">
    <div class="h15-custom-no-bold center">Addiction Arcticles</div>
    
    <br>
    <br>

    <div class="row">  
      <div class="col-md-9">
        <p class="large-font">Stay informed. We post a collection of current addiction related news stories and studies from around web. Our articles section will keep you up to date, knowledgeable, and poised to fight the addiction crisis with us.</p>   
      </div>

      <div class="col-md-3">
        <%= link_to ' View All Articles <i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, articles_path, class: "btn btn-gray btn-block" %>
      </div>  
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <div class="question-box">
          <div class="h3-custom">Top Articles From Around the Web:</div>
          <hr class="medium-margins">
          <% @featured_articles.each do |article| %>
            <div class="h3-custom">
              <% if article.external %> 
                <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{article.title}".html_safe, article.link, :target => "_blank", class: "dark-blue-text higher-line" %>
              <% else %>
                <%= link_to "<i class='fa fa-caret-right' aria-hidden='true'></i> #{article.title}".html_safe, article, class: "dark-blue-text higher-line" %>
              <% end %>
            </div>
            <hr class="medium-margins">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>


<div class="section" id="find-a-doctor">
  
  <br>
  
  <div class="container">
    <hr class="end-fade">
  </div>

  <br>
  <br>

  <div class="medium-container">
    <div class="h15-custom-no-bold center">Connect with an Addiction Doctor or Counselor Near You</div>
    
    <br>

    <div class="search-container">
      <%= form_tag med_profs_path, method: :get do |f| %>
        <div class="input-group">
          <%= text_field_tag :near, nil, class: "form-control", placeholder: "Enter your zip code or city & state", id: "search-form" %>
          <span class="input-group-btn">
            <%= button_tag 'Search', class: "btn btn-light-gray", id: "search-button" %>
          </span>
        </div>
      <% end %>
    </div>
    
    <br>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <%= image_tag ('doc.jpg'), class: "home-image" %>
      </div>
        
      <div class="col-sm-5">
        <p class="large-font bottom-margin-15">Search our directory and connect with an addiction professional today. The directory contains the contact information, location, experience, and other details of the top addiction professionals.</p>

        <%= link_to ' View Full Directory <i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, med_profs_path, class: "btn btn-gray btn-md bottom-margin-15" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <p class="top-margin-8">Click <%= link_to 'HERE', new_user_registration_path %> if you're an addiction professional and would like to be listed in our directory.</p>
      </div>
    </div>

  </div>

  <br>

</div>

<div class="section" id="contact-us">
  <br>
  <div class="container">
    <hr class="end-fade">
  </div>

  <br>
  <br>

  <div class="medium-container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="h15-custom-no-bold center">Contact Us</div>
        <br>
        <p class="large-font">We are happy to answer any questions and would love to hear your feedback as well. Please send us an email and we will get back to you as soon as possible.</p>
      </div>
      <div class="col-lg-12 text-center">
        <i class="fa fa-envelope-o fa-3x"></i>
        <p class="large-font"><a href="mailto:addictionteamusa@gmail.com">addictionteamusa@gmail.com</a></p>
      </div>
    </div>
  </div>



</div>









