<div class="large-container">  
  <%= simple_form_for @course do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:" %>
        </h2>
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.input :title, placeholder: 'Course Title', label: false, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.input :description, placeholder: 'Description', label: false, class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :price, "Price" %>
          <%= f.input :price, placeholder: 'Price', label: false, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :ce_hours, "CE Hours" %>
          <%= f.input :ce_hours, placeholder: 'CE Hours', label: false, class: "form-control" %>
        </div>
      </div>  
    </div>

    <%= f.label :category1, "Categories" %>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group"> 
          <%= f.select(:category1, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category1), {}, {class: "form-control"}) %>
        </div>  
      </div>        
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.select(:category2, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category2), {}, {class: "form-control"}) %>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group"> 
          <%= f.select(:category3, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category3), {}, {class: "form-control"}) %>
        </div> 
      </div>   
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.select(:category4, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category4), {}, {class: "form-control"}) %>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group"> 
          <%= f.select(:category5, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category5), {}, {class: "form-control"}) %>
        </div>         
      </div>
      <div class="col-xs-6">
        <div class="form-group"> 
          <%= f.select(:category6, options_for_select([[' ', ' '], ['Ethics', 'Ethics'], ['Clinical Supervision', 'Clinical Supervision'], ['Substance Abuse/Chemical Dependency', 'Substance Abuse/Chemical Dependency'], ['Children/Adolescents', 'Children/Adolescents'], ['Cultural Competence', 'Cultural Competence'], ['General Practice', 'General Practice'], ['Evidence Based Methods', 'Evidence Based Methods'], ['Trauma', 'Trauma'], ['Psychotherapy', 'Psychotherapy'], ['Marriage Counseling', 'Marriage Counseling'], ['Sex Therapy', 'Sex Therapy'], ['Clinical/Legal Documents', 'Clinical/Legal Documents'], ['Older Adults', 'Older Adults'], ['DSM-5', 'DSM-5'], ['Suicide', 'Suicide'], ['Domestic Violence', 'Domestic Violence'], ['Neuroscience', 'Neuroscience'], ['Personality Disorders', 'Personality Disorders'], ['Career Counseling', 'Career Counseling']], :selected => f.object.category6), {}, {class: "form-control"}) %>
        </div>         
      </div>      
    </div>

    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <%= f.label :preview_num, "Preview Length" %>
          <%= f.input :preview_num, :input_html => { value: f.object.preview_num || 5000 }, label: false, class: "form-control" %>
        </div>
      </div>
    </div>

    <br>
    <div class="form-group">
      <%= f.input :body, label: false, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group"> 
        <%= f.label :published, "Publish?" %>
          <%= f.select(:published, options_for_select([['Yes', 'true'], ['No', 'false']], :selected => f.object.published), {:prompt => "Once published, course will be available to the public"}, {class: "form-control"}) %>
        </div>  
      </div> 
    </div>
    
    <hr>

    <div class="form-group">
      <%= f.button :submit, class: "btn-block btn-blue" %>
    </div>
  <% end %>
</div>

