<% @title = @course.title %>

<div class="medium-container">
  <h2 class="text-center"><%= @course.title %></h2>
  <h5><%= @course.description %></h5>
  <p>Price: $<%= number_with_precision(@course.price, :precision => 2) %></p>
  <p>CE Hours: <%= @course.ce_hours %></p>
  <p>Author: <%= link_to @author.fullname, @author %></p>
  Categories: 
  <%= @categories.to_sentence %>
  <br>
  
  <% unless @purchased_courses.any? {|a| a.course_id == @course.id}  %> 
    <br>
    <%= link_to 'Preview Course <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>'.html_safe, course_preview_path(@course, :format => 'pdf'), class: "btn btn-light-gray btn-sm" %>
    <br>
    <hr>
    <%= form_for @order_item do |f| %>
      <%= f.hidden_field :course_id, value: @course.id %>
      <%= button_tag type: 'submit', class: "btn btn-blue btn-block" do %>
         Purchase Course
      <% end %>
    <% end %>
  <% end %>

  <% if current_user && @purchased_courses.any? {|a| a.course_id == @course.id} %>
    <hr>
    <%= link_to "Open Course (PDF)", course_path(@course, :format => 'pdf'), class: "btn btn-block btn-blue" %>
  <% end %>
</div>




 

