<% @title = @course.title %>

<% if @course.published || current_user == @course.user %>
  <div class="medium-container">
    <p class="text-center h15-custom"><%= @course.title %></p>
    <br>
    <h5><%= @course.description %></h5>
    <p>Price: $<%= number_with_precision(@course.price, :precision => 2) %></p>
    <p>CE Hours: <%= @course.ce_hours %></p>
    <p>Author: <%= link_to @author.fullname, @author %></p>
    Categories: 
    <%= @categories.to_sentence %>
    <br>
    
    <% if !@purchased_courses.any? {|a| a.course_id == @course.id} || current_user == @course.user %> 
      <br>
      <%= link_to 'Preview Course <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>'.html_safe, course_preview_path(@course, :format => 'pdf'), target: "_blank", class: "btn btn-light-gray btn-sm" %>
      <br>
      <hr>
    <% end %>  

    <% unless @purchased_courses.any? {|a| a.course_id == @course.id} || current_user == @course.user %>
      <%= form_for @order_item do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= button_tag type: 'submit', class: "btn btn-blue btn-block" do %>
           Purchase Course
        <% end %>
      <% end %>
    <% end %>

    <% if current_user == @course.user %>
      <hr>
      <h5 class="text-center">
        You are the author of this course. Click <strong><%= link_to "HERE", edit_course_path(@course), class: "dark-blue-text" %></strong> to edit it.
      </h5>
      <h5 class="text-center">
        This course <% if @course.published %><span class="green-text">IS</span><% else %><span class="red-text">IS NOT</span><% end %> published.
      </h5>
    <% end %>

    <% if @evaluation.questions.count < 1 && current_user == @course.user %>
      <h5 class="text-center">
        It looks like this course does not have an evalutation yet. <strong><%= link_to "Add Evaluation", evaluation_path, class: "dark-blue-text" %></strong>.
      </h5>
    <% end %>

    <% if current_user && @purchased_courses.any? {|a| a.course_id == @course.id} || current_user == @course.user %>
      
      <br>
      <p>Please open and review the course material by clicking the Open Course button below. Once you are comfortable with the material, you must take and pass the evaluation to receive your CE hours. The score required to pass the evaluation for this course is <%= number_to_percentage(@course.req_score, precision: 2) %>.</p>
      <hr>
      
      <%= link_to "Open Course (PDF)", course_path(@course, :format => 'pdf'), target: "_blank", class: "btn btn-block btn-blue" %>
      
      <hr>
      <br>
      <br>
      <hr class="light-smoke">

      <% if @evaluation.questions.count > 0 %>
        <h3 class="text-center bold-text">Evaluation/CE Hours Earned</h3>
      <% end %>
        
      <% if @results.empty? %>
        <br>
        <p class="text-center">You have not taken the evaluation yet.</p>
        <br>
      <% else %>
        <br>
        <h5 class="text-center bold-text">Your Previous Results</h5>

        <p>Number of attempts: <%= @results.count %></p>
        <p>Score Required to Pass: <%= number_to_percentage(@course.req_score, precision: 2) %></p>
        <p>
          Pass: <% if @course.passed?(current_user) %>
                    Yes
                  <% else %>
                    No
                  <% end %>
        </p>
        <p>CE Hours Earned: <% if @course.passed?(current_user) %>
                              <%= @course.ce_hours %>
                            <% else %>
                            0
                            <% end %>
        </p>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th class="text-center">Date Taken</th>
              <th class="text-center">Score</th>
              <th class="text-center">Pass/Fail</th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr>
                <td><%= local_time(result.created_at) %></td>
                <td><%= number_to_percentage(result.score, precision: 2) %></td>  
                <% if result.score >= @course.req_score %>  
                  <td class="green-text">Pass</td>
                <% else %>
                  <td class="red-text">Fail</td>
                <% end %>
              
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @evaluation.questions.count > 0 %>
      <div class=small-container>
        <%= link_to "Take Evaluation", course_take_evaluation_path(@course), class: "btn btn-block btn-gray" %>
      </div>  
      <% end %>

    <% end %>
  </div>
<% else %>
  <h1 class="text-center">This course has not yet been published.</h1>
<% end %>

<br>
<br>
<br>
 

