<% @title = "Evaluation - " + @course.title %>

<div class="overlay">
  <div class="loader center  dark-blue-text">
    <p class="h2-custom">Please wait while your score is calculated...</p>
    <br>
    <i class='fa fa-spinner fa-spin fa-5x'></i></div>
</div>

<br>
<p class="center h15-custom"><%= @course.title %> Evaluation</p>
<hr>
<p>Please select the best answer to each question below. Once you have answered every question, click the Submit Evaluation button below to complete the test.</p>
<br>

<%= form_tag({:controller => "courses", :action => "grading"}, id: "evaluation-form") do %>
  <% @questions.each do |question| %>
    <div class="question-box", id="<%= dom_id(question) %>">
      <div class="h3-custom"><%= question.text %></div>
      <% letter = '@' %>
      <% question.answers.each do |answer| %>
        <div>
          <%= radio_button_tag("answer[#{question.id}]", answer.id) %>
          <% letter = letter.next %>
          <span><%= letter %>.</span>
          <span><%= answer.text %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= submit_tag('Submit Evaluation', class: "btn btn-block btn-blue", id: "evaluation-submit-button") %>
  </div>

<% end %>

