
<% @title = "New Thread" %>

<div class="container-fluid wide-margin"> 

  <br>

  <div class="col-sm-3">
    <br>
    <br>
    <div class="forum-box">
      <%= link_to "New Thread", new_forum_thread_path, class: "btn btn-blue btn-block" %>
      <hr class="light-smoke-short">
      <div class="h3-custom bottom-margin-8">Search</div>
        <div>
          <%= search_form_for @q, html: { class: "form-inline-block" } do |f| %>
            <%= f.search_field :subject_or_forum_posts_body_cont, placeholder: "Search...", class: "form-control" %>
          <% end %>
        </div>
        <hr class="light-smoke-short">
        <div class="h3-custom">Categories</div> 
        <div><%= link_to 'Counseling', forum_threads_path(q: {category_cont: 'Counseling'}), class: "bold-text dark-blue-text break-word" %></div>
        <div><%= link_to 'General', forum_threads_path(q: {category_cont: 'General'}), class: "bold-text dark-blue-text break-word" %></div>
        <div><%= link_to 'Law Enforcement', forum_threads_path(q: {category_cont: 'Law Enforcement'}), class: "bold-text dark-blue-text break-word" %></div>
        <div><%= link_to 'Legal', forum_threads_path(q: {category_cont: 'Legal'}), class: "bold-text dark-blue-text break-word" %></div> 
        <div><%= link_to 'Medical', forum_threads_path(q: {category_cont: 'Medical'}), class: "bold-text dark-blue-text break-word" %></div>
        <div><%= link_to 'Science/Lab', forum_threads_path(q: {category_cont: 'Science/Lab'}), class: "bold-text dark-blue-text break-word" %></div>
        <div><%= link_to 'View All', forum_threads_path(q: {category_cont: ''}), class: "bold-text dark-blue-text break-word" %></div>               
    </div>  
  </div>    

  <br>
  <br>

  <div class="col-sm-9">
    
    <div class="forum-box">
      <h1>New Thread</h1>

      <%= render "form" %>
    </div>
  </div>


