
<% @title = @forum_thread.subject %>

<div class="container-fluid wide-margin"> 

  <br>

  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Forum Home'.html_safe, forum_threads_path, :class => "btn btn-gray btn-sm margin-left-15" %>
  <br>
  <br>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>
    </div>    
  </div>

  <br>
  <br>

  <div class="col-sm-9">
    
    <div class="forum-box">

      <%= render partial: "forum_threads/forum_posts/forum_post", collection: @forum_thread.forum_posts %>
      
      <br>    
      <% if current_user %>
        <%= render partial: "forum_threads/forum_posts/form" %>
      <% else %>
       <strong><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %> to join the discussion</strong>
      <% end %>
    </div>

  </div>
</div>