<!DOCTYPE html>
<html>
<head>
  <title><%= @title%></title>
  <script src="https://use.fontawesome.com/0e10ee95bc.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <% if user_masquerade? %>
    <div class="alert alert-warning text-center" style="margin-bottom: 0px">
      You're logged in as <%= current_user.email %>.
      <%= link_to "Sign Out", back_masquerade_path(current_user) %>
    </div>
  <% end %>

  <%= render partial: "shared/navbar" %>

  <div class="container" style="margin-top: 10px">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
